<ion-view view-title="Add new task">
  <ion-content>

    <form ng-submit="save(task)">

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Task" ng-model="task.title">
          <p ng-show="task.title == '' || task.title == null" class="input_error">* The title must not be empty</p>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Just another task" ng-model="task.description">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Pomodoros</span>
          <input type="number" placeholder="1" ng-model="task.qnt_pomodoro">
          <p ng-show="task.qnt_pomodoro == null || task.qnt_pomodoro <= 0" class="input_error">* The pomodoro count must be bigger then 0</p>          
        </label>
      </div>

      <div class="padding">
        <button class="button button-small button-block button-stable padding" type="submit">
          {{ task.id == null ? 'Create task' : 'Save changes'}}
        </button>
      </div>

    </form>

  </ion-content>
</ion-view>

