.timer {
	text-align: center;
}

.timer h1 {
	font-size: 4em;
}

.timerEnded {
  animation: blinker 1s cubic-bezier(.5, 0, .5, .5) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }

.timer_div h2 {
	font-size: 1.4em;
}

.input_error {
	font-size: .7em !important;
	color: #F00 !important;
} 